root = true

[*]
charset = utf-8
trim_trailing_whitespace = true
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 2


[*.{js,txt,md,css,html,php,py,json,yml,sass,scss,pug}]
indent_style = space
indent_size = 2

[*.jsx]
indent_style = space
indent_size = 4

[*.graphql]
indent_style = space
indent_size = 4

[*.md]
trim_trailing_whitespace = false
